.b-logos {
	.animate-infinite-scroll {
		animation: infinite-scroll 15s linear infinite;
	}

	.animate-infinite-scroll:hover {
		animation-play-state: paused;
	}
}

@keyframes infinite-scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-25%);
	}
}