.b-tabs {
.__tabs {
		p {
			margin-bottom: 16px;
		}

		p:last-child {
			margin-bottom: 0 !important;
		}

		ul {
			margin-top: 8px;
			margin-bottom: 24px;
			list-style: none;
			padding-left: 0;

			&:last-child {
				margin-bottom: 0;
			}

			li {
				position: relative;
				margin-bottom: 0.5em;
				display: flex;
				gap: 8px;
				align-items: center;

				&::before {
					content: url('/resources/images/check.svg');
					position: relative;
					left: 0;
					top: -6px;
					width: 14px;
					height: 14px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
	}

}
